<div class="post-index-box">
	<h2>投稿一覧</h2>
	<span class="btn btn-success" id="post-btn">つぶやく</span>

	<div class="col-xs-3" id="post-form-box">
		<%= form_with model: @post, url: posts_path, local: true do |f| %>
			<div class="form-group">
				<%= f.label :body %><br>
				<%= f.text_area :body, size: '160x4', :style => 'color: black' %>
			</div>
			<div class="form-group text-center">
				<%= f.submit 'つぶやく', class: 'btn btn-info' %>
			</div>
		<% end %>
	</div>
	<div class="col-xs-9">
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th>Body</th>
					<th colspan="3"></th>
				</tr>
			</thead>
			<tbody>
				<% @posts.each do |post| %>
					<tr>
						<td>
							<%= attachment_image_tag post.user, :profile_image, fallback: 'noimage.png', size: '50x50' %>
						</td>
						<td>
							<%= post.user.name %>
						</td>
						<td>
							<%= post.body %>
						</td>
						<td class="favorite-<%= post.id %>">
							<%= render 'favorites/link', post: post %>
						</td>
						<td>
							<%= link_to 'Show', post_path(post), class: 'link-color' %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
    </div>

</div>