<div class="post-index-box">
	<h2>投稿一覧</h2>

	<div class="col-xs-3">
		<%= form_with model: @post, url: posts_path, local: true do |f| %>
			<div class="form-group">
				<%= f.label :body %><br>
				<%= f.text_area :body, :style => 'color: black' %>
			</div>
			<div class="form-group">
				<%= f.submit 'つぶやく', class: 'btn btn-info' %>
			</div>
		<% end %>
	</div>
	<div class="col-xs-9">
		<table class="table">
			<thead>
				<tr>
					<th></th>
					<th></th>
					<th>Body</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<% @posts.each do |post| %>
					<tr>
						<td>
							<%= attachment_image_tag post.user, :profile_image, fallback: 'noimage.png', size: '30x30' %>
						</td>
						<td>
							<%= post.user.name %>
						</td>
						<td>
							<%= post.body %>
						</td>
					</tr>
				<% end %>
			</tbody>
		</table>
    </div>

</div>