<div class="post-show-box">
	<h2>投稿詳細</h2>
	<div class="post-show-contants">
		<%= attachment_image_tag @post.user, :profile_image, fallback: 'noimage.png', size: '20x20' %>
		<%= @post.user.name %><br>
		<span><%= @post.body %></span>
		<span class="favorite-<%= @post.id %>"><%= render 'favorites/link', post: @post %></span>
	</div>

	<div class="post-comment-form-box">
		<%= form_with model: @post_comment, url: post_post_comments_path(@post) do |f| %>
			<%= f.label :comment %><br>
			<%= f.text_field :comment, :style => 'color: black;' %>
			<%= f.submit 'コメントする', class: 'btn btn-info' %>
		<% end %>
	</div>


	<% @post_comments.each do |post_comment| %>
		<div class="post-comment-box" style="margin: 10px;">
			<%= attachment_image_tag post_comment.user, :profile_image, fallback: 'noimage.png', size: '50x50' %>
			<%= post_comment.user.name %>
			<%= post_comment.comment %>
			<%= link_to '削除', post_post_comment_path(@post, post_comment), method: :delete, class: 'btn btn-danger' %>
		</div>
	<% end %>
</div>