<!DOCTYPE html>
<html>
  <head>
    <title>SampleTwitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="container">
      <div class="row">
        <%= render 'layouts/nav' %>
      </div>
    </header>


    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>

    <footer>
      <p>©️もり's 開発</p>
    </footer>
  </body>
</html>
